# IntelliJ IDEA
.idea/*
!.idea/modules.xml
*.iml
*.iws
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Vue.js
node_modules/
dist/
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/farmstock/backend/src/main/resources/.env
/farmstock/frontend/node/node
/farmstock/frontend/node/npm
/farmstock/frontend/node/npm.cmd
/farmstock/frontend/node/npx
/farmstock/frontend/node/npx.cmd
/.vscode/settings.json
/run-local.sh
/test-endpoints.sh
/test-local.sh
/test-simple.sh
/backend/.mvn/wrapper/maven-wrapper.properties
/frontend/node/node
/frontend/node/npm
/frontend/node/npm.cmd
/frontend/node/npx
/frontend/node/npx.cmd
