spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  jwt:
    secret: ${JWT_SECRET:default-dev-secret}
    expiration: 86400000

logging:
  level:
    org.springframework.boot.autoconfigure.jdbc: DEBUG
    org.hibernate: DEBUG

admin:
  notification:
    enabled: true
    email: ${ADMIN_EMAIL:}
    telegram:
      bot-token: ${TELEGRAM_BOT_TOKEN:}
      chat-id: ${TELEGRAM_CHAT_ID:}