spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  jwt:
    secret: ${JWT_SECRET:default-dev-secret}
    expiration: 86400000

logging:
  level:
    org.springframework.boot.autoconfigure.jdbc: DEBUG
    org.hibernate: DEBUG

# SMS Gateway konfigurácia
sms:
  enabled: false
  # Typ providera: android-gateway, twilio, bulkgate
#  provider: android-gateway
  # Pre Android Gateway - URL kam posielať SMS
#  android-gateway:
#    url: ${SMS_GATEWAY_URL:http://192.168.1.187:8080/send}
#    username: sms
#    password: 1Eqyv9QU

  provider: messagebird  # twilio | messagebird | vonage

  twilio:
    account-sid: ${TWILIO_ACCOUNT_SID:}
    auth-token: ${TWILIO_AUTH_TOKEN:}
    from-number: ${TWILIO_FROM_NUMBER:}

  messagebird:
    access-key: ${MESSAGEBIRD_ACCESS_KEY:}
    originator: ${MESSAGEBIRD_ORIGINATOR:}  # SK číslo

  vonage:
    api-key: ${VONAGE_API_KEY:}
    api-secret: ${VONAGE_API_SECRET:}
    from-number: ${VONAGE_FROM_NUMBER:}

admin:
  notification:
    enabled: true
    email: ${ADMIN_EMAIL:}
    telegram:
      bot-token: ${TELEGRAM_BOT_TOKEN:}
      chat-id: ${TELEGRAM_CHAT_ID:}